* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto Condensed', serif;
}

.clearfix:after {
    /*content: "";*/
    /*display: table;*/
    clear: both;
}

.padding-site {
    padding-left: 30%;
    padding-right: 20%;
}

.container {
    max-width: 1920px;
    min-width: 375px;
    margin: 0 auto;
    background: url("img/background.png") top center no-repeat;
    min-height: 100%;
}

.slider {
    position: relative;
    height: 643px;
}

.header {
    width: auto;
    min-height: 83px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
}

.header > div {
    float: left;
    padding-left: 10%;
    padding-top: 18px;
}

.logo-link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.logo-link > .logo_text1 { /* Style for "Historical" */
    width: 169px;
    height: 29px;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 22.36px;
    /* Text style for "Historical" */
    letter-spacing: 0.77px;
}

.logo-link > .logo_text2 { /* Style for "GAMES" */
    /*width: 221px;*/
    height: 12px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.36px;
    text-transform: uppercase;
    /* Text style for "GAMES" */
    letter-spacing: 31.41px;
}

.phone-icon {
    float: left;
    padding-top: 6px;
    padding-right: 10px;
}

.email-icon {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}

.phone-number, .email-text {
    padding-top: 10px;
    display: flex;
}

.search-table {
    /* Style for "Прямоуголь" */
    width: 208px;
    height: 38px;
    border-collapse: collapse;
}

.search-table td {
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

.search-icon {
    width: 50px;
    padding-top: 5px;
    padding-left: 13px;
}

.search-table input{
    /* Style for "Прямоуголь" */
    max-width: 158px;
    height: 38px;
    color: #ffffff;
    font-family: "Roboto Condensed", serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
}

.social_links, .menu-list {
    list-style-type: none;
    float: left;
}

.menu {
    padding: 25px 50px;
    text-align: center;
}

.menu-link {
    /* Style for "Home" */
    width: 511px;
    height: 16px;
    /*opacity: -1;*/
    color: #000000;
    font-family: "Roboto Condensed", serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    /*border-bottom: 1px solid #ffffff;*/
    text-decoration: none;
    padding: 5px 13px;
}

.menu-link-active a {
    color: #ffffff;
    letter-spacing: 0.36px;
    border-bottom: 3px solid #ffffff;
    /*border-bottom: 57px;*/
}

.menu-link:hover {
    color: #ffffff;
    letter-spacing: 0.36px;
    border-bottom: 3px solid #ffffff;
}

.slider-content1 {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto Condensed", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    border-bottom: 3px solid #ffffff;
    width: 117px;
    height: 35px;
    padding: 5px 5px;
    margin: 100px 35%;
}

.slider-content2 {
    text-align: center;
    height: 48px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.6px;
}

.social_links {
    padding: 100px 30%;
}

.social_links li {
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    float: left;
    text-align: center;
}

.social_links img {
    margin-top: 12px;
}

.about-us {
    padding: 81px 11%;
    max-width: 1000px;
    min-width: 200px;
    height: 300px;
    background: white;
    align-content: center;
}

.content-about-us {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 5%;
}

.about-us > div {
    float: left;
    marging-right: 10%;
    marging-bottom: 10%;
}

.content-about-us-header {
    padding-bottom: 35px;
    color: #f44336;
    font-family: Poppins, serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

.content-about-us-par {
    color: #999999;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.12px;
}

/*.image-about-us {*/
/*    width: 540px;*/
/*    height: 338px;*/
/*}*/

.footer {
    width: auto;
    height: 71px;
    background-color: #000000;
}

.content-footer {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
    padding: 25px;
    margin: 0 auto;
}

@media screen and (max-width: 1500px) {
    .header > div {
        padding-left: 5%;
    }

    .menu {
        padding: 25px 2%;
    }

    .menu-link {
        padding: 5px 10px;
    }

    .about-us {
        padding: 81px 8%;
    }
}

@media screen and (max-width: 1200px) {
    .padding-site {
        padding-left: 20%;
    }

    .header > div {
        padding-left: 3%;
    }

    .menu {
        padding: 25px 1.5%;
    }

    .menu-link {
        padding: 5px 8px;
    }

    .about-us {
        height: 600px;
        padding: 81px 25%;
    }
}

@media screen and (max-width: 900px) {

    .padding-site {
    }

    .container {
        background: url("img/background.png") bottom center;
    }

    .header {
        height: 240px;
        margin: 0 auto;
    }

    .header > div {
        float: none;
        padding-left: 25%;
    }

    .phone-number, .email-text {
        margin: 0 auto;
        display: compact;
    }

    .menu {
        padding: 15px;
        margin: 0 auto;
    }

    .menu-list {
        float: none;
        padding-top: 15px;
    }

    .slider-content1 {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .slider-content2 {
        font-size: 30px;
    }

    .about-us {
        height: 600px;
        padding: 60px 12% 60px;
    }
}

@media screen and (max-width: 600px) {

    .header > div {
        padding-left: 15%;
    }

    .image-about-us > img {
        width: 405px;
        height: 254px;
    }

    .about-us {
        height: 600px;
        padding: 40px 10% 30px;
    }
}